<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Master:</strong>
  <%= @zone.master %>
</p>

<p>
  <strong>Last check:</strong>
  <%= @zone.last_check %>
</p>

<p>
  <strong>Type:</strong>
  <%= @zone.type %>
</p>

<p>
  <strong>Notified serial:</strong>
  <%= @zone.notified_serial %>
</p>

<p>
  <strong>Account:</strong>
  <%= @zone.account %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
